In [42]:
import pandas as pd

data = {

    'Name': ['Alice', 'Bob', 'Charlie'],

    'Age': [25, 30, 35],

    'City': ['New York', 'Los Angeles', 'Chicago'],

    'Country': ['USA', 'USA', 'USA']

}

In [43]:
df = pd.DataFrame(data)
print(df)

      Name  Age         City Country
0    Alice   25     New York     USA
1      Bob   30  Los Angeles     USA
2  Charlie   35      Chicago     USA

In [44]:
df.columns = ['名前', '年齢', '街', '国']
print(df)

      名前  年齢           街   国
0    Alice    25     New York  USA
1      Bob    30  Los Angeles  USA
2  Charlie    35      Chicago  USA

In [45]:
new_index_df = df.set_index('名前')
print(new_index_df)

         年齢           街   国
名前
Alice      25     New York  USA
Bob        30  Los Angeles  USA
Charlie    35      Chicago  USA

In [46]:
re_index_df = new_index_df.reset_index()
print(re_index_df)

      名前  年齢           街   国
0    Alice    25     New York  USA
1      Bob    30  Los Angeles  USA
2  Charlie    35      Chicago  USA

In [47]:
column_dict = df.to_dict(orient='list')
print(column_dict)

{'名前': ['Alice', 'Bob', 'Charlie'], '年齢': [25, 30, 35], '街': ['New York', 'Los Angeles', 'Chicago'], '国': ['USA', 'USA', 'USA']}

問題２

In [48]:
import pandas as pd



data = {
    '名前': ['アリス', 'ボブ', 'チャーリー', 'ディビッド', 'エマ'],
    '年齢': [12, 10, 13, 13, 14],
    '都市': ['東京', '大阪', '名古屋', '福岡', '札幌'],
    '点数': [88, 92, 85, 90, 95]
}

df = pd.DataFrame(data)
print(df)

         名前  年齢    都市  点数
0      アリス    12    東京    88
1        ボブ    10    大阪    92
2  チャーリー    13  名古屋    85
3  ディビッド    13    福岡    90
4        エマ    14    札幌    95

In [49]:
print(df.iloc[0: 2])

     名前  年齢  都市  点数
0  アリス    12  東京    88
1    ボブ    10  大阪    92

In [50]:
print(df.tail(3))

         名前  年齢    都市  点数
2  チャーリー    13  名古屋    85
3  ディビッド    13    福岡    90
4        エマ    14    札幌    95

In [51]:
print(df.iloc[2: 5])

         名前  年齢    都市  点数
2  チャーリー    13  名古屋    85
3  ディビッド    13    福岡    90
4        エマ    14    札幌    95

In [52]:
print(df.iloc[[0, 2]])

         名前  年齢    都市  点数
0      アリス    12    東京    88
2  チャーリー    13  名古屋    85

In [53]:
df[df['年齢']>=12]

         名前  年齢    都市  点数
0      アリス    12    東京    88
2  チャーリー    13  名古屋    85
3  ディビッド    13    福岡    90
4        エマ    14    札幌    95

In [54]:
print(df[df['点数'] >= 90])

         名前  年齢  都市  点数
1        ボブ    10  大阪    92
3  ディビッド    13  福岡    90
4        エマ    14  札幌    95

In [55]:
new = {'名前': 'フレッド', '年齢': 15, '都市': '京都', '点数': 87}
df = df.append(new, ignore_index=True)
print(df)

         名前  年齢    都市  点数
0      アリス    12    東京    88
1        ボブ    10    大阪    92
2  チャーリー    13  名古屋    85
3  ディビッド    13    福岡    90
4        エマ    14    札幌    95
5    フレッド    15    京都    87

/var/folders/kb/tk0p38cx0h1d_dtvmbtqb1g00000gn/T/ipykernel_24641/942356180.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new, ignore_index=True)

In [56]:
df = df[df['名前'] != 'エマ']
print(df)

         名前  年齢    都市  点数
0      アリス    12    東京    88
1        ボブ    10    大阪    92
2  チャーリー    13  名古屋    85
3  ディビッド    13    福岡    90
5    フレッド    15    京都    87

In [57]:
print(df[['名前', '点数']])

         名前  点数
0      アリス    88
1        ボブ    92
2  チャーリー    85
3  ディビッド    90
5    フレッド    87

In [58]:
df = df.drop(columns=['都市'])
print(df)

         名前  年齢  点数
0      アリス    12    88
1        ボブ    10    92
2  チャーリー    13    85
3  ディビッド    13    90
5    フレッド    15    87

In [59]:
df['クラス'] = ['A', 'B', 'A', 'B', 'A']
print(df)

         名前  年齢  点数 クラス
0      アリス    12    88      A
1        ボブ    10    92      B
2  チャーリー    13    85      A
3  ディビッド    13    90      B
5    フレッド    15    87      A

In [60]:
max_score = df['点数'].max()
print(max_score)

92