In [178]:
import pandas as pd
import numpy as np

##### Pythonのリストから作成

In [179]:
import pandas as pd

my_list = [10, 20, 30, 40, 50]
series = pd.Series(my_list)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [180]:
import pandas as pd
import numpy as np

In [181]:
a = series = pd.Series(np.array([10, 20, 30]))
print(a)

0    10
1    20
2    30
dtype: int64

In [182]:
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [183]:
print(s[0])

10

In [184]:
print(s['a'])

10

In [185]:
print(s[['a' , 'd']])

a    10
d    40
dtype: int64

In [186]:
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([10, 20, 30, 40])

print(s1 + s2)
print(s1 * 2)

0    11
1    22
2    33
3    44
dtype: int64
0    2
1    4
2    6
3    8
dtype: int64

In [187]:
import pandas as pd

# Seriesの作成
s = pd.Series([10, 4, 7, 2, 8])

# 条件式を使ったデータフィルタリング
print(s[s > 7])
print(s[s == 7])
print(s[s <= 6])

0    10
4     8
dtype: int64
2    7
dtype: int64
1    4
3    2
dtype: int64

In [188]:
import pandas as pd

# リストからSeriesを作成
s = pd.Series([1, 2, 3, 4, 5])

# ラムダ関数を使用
f = lambda x: x + 1
print(s.apply(f))

# 自作の関数
def square(x):
    return x ** 2

# applyメソッドで自作の関数を適用
print(s.apply(square))

0    2
1    3
2    4
3    5
4    6
dtype: int64
0     1
1     4
2     9
3    16
4    25
dtype: int64

In [189]:
import pandas as pd

def clean_text(text):
    # 前処理の処理を記述
    cleaned = text.strip().lower().replace('さん', '').replace(' ', '')
    return cleaned

text_s = pd.Series([' 山田太郎さん ', ' 山田 太郎 ', '山田 太郎さん'])
print("元データ:", end="|")
print(text_s[0], text_s[1], text_s[2], sep="|")

cleaned_s = text_s.apply(clean_text)
print("自作関数実行後:", end="|")
print(cleaned_s[0], cleaned_s[1], cleaned_s[2], sep="|")

元データ:| 山田太郎さん | 山田 太郎 |山田 太郎さん
自作関数実行後:|山田太郎|山田太郎|山田太郎

In [190]:
type(text_s.values)

numpy.ndarray

In [191]:
import pandas as pd

In [192]:


data = {'Name': ['John', 'Emily', 'Michael'],
        'Age': [32, 28, 41]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0     John   32
1    Emily   28
2  Michael   41

In [193]:
print(df)
print(df.shape)

      Name  Age
0     John   32
1    Emily   28
2  Michael   41
(3, 2)

In [194]:
df = df.set_index('Name')
print(df)

         Age
Name
John      32
Emily     28
Michael   41

In [195]:
df = df.reset_index()
print(df)
print(df.shape)

      Name  Age
0     John   32
1    Emily   28
2  Michael   41
(3, 2)

In [196]:
dict_data = df.to_dict()
print(dict_data)

{'Name': {0: 'John', 1: 'Emily', 2: 'Michael'}, 'Age': {0: 32, 1: 28, 2: 41}}

In [197]:
dict_data = df.to_dict(orient="list")
dict_data

{'Name': ['John', 'Emily', 'Michael'], 'Age': [32, 28, 41]}

In [198]:
# DataFrameの作成

data = {

    '名前': ['田中', '鈴木', '山田'],

    '年齢': [30, 25, 35],

    '都道府県': ['東京', '大阪', '福岡'],

    '性別': ['男性', '女性', '男性']

}

df = pd.DataFrame(data)



df

   名前  年齢 都道府県  性別
0  田中  30   東京  男性
1  鈴木  25   大阪  女性
2  山田  35   福岡  男性

In [199]:
df.values

array([['田中', 30, '東京', '男性'],
       ['鈴木', 25, '大阪', '女性'],
       ['山田', 35, '福岡', '男性']], dtype=object)

In [200]:
print(type(df.values))

<class 'numpy.ndarray'>

In [201]:
print(df['名前'].values)
print(type(df['名前'].values))

['田中' '鈴木' '山田']
<class 'numpy.ndarray'>

#行の選択

In [202]:
print(df.iloc[0], end="\n-------------\n")

print(df.iloc[2])

名前      田中
年齢      30
都道府県    東京
性別      男性
Name: 0, dtype: object
-------------
名前      山田
年齢      35
都道府県    福岡
性別      男性
Name: 2, dtype: object

In [203]:
print(df.iloc[[0, 2]])
print(df.iloc[0:2])

   名前  年齢 都道府県  性別
0  田中  30   東京  男性
2  山田  35   福岡  男性
   名前  年齢 都道府県  性別
0  田中  30   東京  男性
1  鈴木  25   大阪  女性

条件で選ぶ

In [204]:
df[df['年齢']>=30]

   名前  年齢 都道府県  性別
0  田中  30   東京  男性
2  山田  35   福岡  男性

In [205]:
df[df['都道府県'] == "東京"]

   名前  年齢 都道府県  性別
0  田中  30   東京  男性

In [206]:
new_row = pd.DataFrame({'名前': ['木下'], '年齢': [16], '都道府県': ['愛知'], '性別': ['男性']})
df = pd.concat([df, new_row], ignore_index=True)
print(df)

   名前  年齢 都道府県  性別
0  田中  30   東京  男性
1  鈴木  25   大阪  女性
2  山田  35   福岡  男性
3  木下  16   愛知  男性

In [207]:
# 新しいSeriesを作成
new_row2 = pd.Series(['佐藤', 35, '大阪', '女性'], index=['名前', '年齢', '都道府県', '性別'])

# Seriesをデータフレームに変換してconcatする
df = pd.concat([df, pd.DataFrame([new_row2])], ignore_index=True)
print(df)

   名前  年齢 都道府県  性別
0  田中  30   東京  男性
1  鈴木  25   大阪  女性
2  山田  35   福岡  男性
3  木下  16   愛知  男性
4  佐藤  35   大阪  女性

In [208]:
print(pd.DataFrame([new_row2]))

print(pd.DataFrame(new_row2))

   名前  年齢 都道府県  性別
0  佐藤  35   大阪  女性
       0
名前    佐藤
年齢    35
都道府県  大阪
性別    女性

In [209]:
df = df.drop(0)
print(df)

   名前  年齢 都道府県  性別
1  鈴木  25   大阪  女性
2  山田  35   福岡  男性
3  木下  16   愛知  男性
4  佐藤  35   大阪  女性

In [210]:
df = df.reset_index(drop=True)
print(df)

   名前  年齢 都道府県  性別
0  鈴木  25   大阪  女性
1  山田  35   福岡  男性
2  木下  16   愛知  男性
3  佐藤  35   大阪  女性

In [211]:
df.loc[1, '年齢'] = 15
print(df)

   名前  年齢 都道府県  性別
0  鈴木  25   大阪  女性
1  山田  15   福岡  男性
2  木下  16   愛知  男性
3  佐藤  35   大阪  女性

In [212]:
data = {

    '名前': ['田中', '鈴木', '山田'],

    '年齢': [30, 25, 35],

    '都道府県': ['東京', '大阪', '福岡'],

    '性別': ['男性', '女性', '男性']

}

df = pd.DataFrame(data)

df

   名前  年齢 都道府県  性別
0  田中  30   東京  男性
1  鈴木  25   大阪  女性
2  山田  35   福岡  男性

In [213]:
print(df['名前'])
print(df['年齢'])

0    田中
1    鈴木
2    山田
Name: 名前, dtype: object
0    30
1    25
2    35
Name: 年齢, dtype: int64

In [214]:
print(df[['名前', '都道府県']])

   名前 都道府県
0  田中   東京
1  鈴木   大阪
2  山田   福岡

In [215]:
print(df.iloc[:, 0])
print(df.iloc[:, 1])

0    田中
1    鈴木
2    山田
Name: 名前, dtype: object
0    30
1    25
2    35
Name: 年齢, dtype: int64

In [216]:
print(df.iloc[:, [0, 2]])
print(df.iloc[:, 0: 3])

   名前 都道府県
0  田中   東京
1  鈴木   大阪
2  山田   福岡
   名前  年齢 都道府県
0  田中  30   東京
1  鈴木  25   大阪
2  山田  35   福岡

In [217]:
df['国'] = ['日本' , '日本', '日本']
print(df)

   名前  年齢 都道府県  性別   国
0  田中  30   東京  男性  日本
1  鈴木  25   大阪  女性  日本
2  山田  35   福岡  男性  日本

In [218]:
df = df.drop(columns=['国'])

print(df)

   名前  年齢 都道府県  性別
0  田中  30   東京  男性
1  鈴木  25   大阪  女性
2  山田  35   福岡  男性